<a href="https://colab.research.google.com/github/UrielMendoza/Curso-RV-python/blob/master/Lunes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **Introducción a procesamiento datos espaciales con Python**

### Repaso python (Opcional)

**Variables**

*   No pueden empezar con numeros
*   No utilizar acentos
*   No poner caracteres especiales

Signo igual (=) para para asignar un valor a una variable

In [0]:
variable = 1

**Tipos de datos**

Números enteros (int)

In [10]:
numInt = 1
numInt = 99999999999999999
type(numInt)

int

Números de punto flotante (float)

In [11]:
numFlt = 1.0
numFlt = 99.999999999999999
type(numFlt)

float

Números complejos (complex)

In [12]:
numCpx = 1 + 2j
numCpx = 1.34242 + 2.343j
type(numCpx)

complex

Valores booleanos (bool)

In [13]:
valBool = True
valBool = False
type(valBool)

bool

Cadenas de caracteres (str)

In [15]:
cdnCar = 'uno'
cdnCar = 'habia una vez un numero uno'
type(cdnCar)

str

**Tipo de datos interables**

Listas

In [22]:
lista = [1,2,3,4,5]
lista = [1,2.3,'uno',True]
lista = [1,2.34,[10,11,12,[1,'dato',3]],True]
lista[0]
lista[2][3][1]
type(lista)

list

Tuplas

In [26]:
tupla = (1,2,3,4)
tupla = (1,4,[1,2],'uno',True)
tupla[2][0]
type(tupla)

tuple

Diccionarios

In [40]:
dic = {'key1':1,'key2':2,'key3':3}
dic = {'key1':1,'key2':[1,2,3,4],'key3':'Cadena de texto'}
dic['key1']
dic['key2'][2]
dic = {'0':1,'1':2,'2':3}
dic = {'ID':(1,2,3),'Capitales':('Tuxtla Gutierrez','Oaxaca','Merida'),'entidad':('Chiapas','Oaxaca','Yucatan'),'pobl':(1023233,2232323,1223233),'geometry':([13.4,-93.5],[15.4,-103.4],[15.6,-89])}
dic['ID']
dic['geometry']
type(dic)

dict

**Estructuras de control de flujo**

Condicionales

In [42]:
if True:
  print(True)
else:
  print(False)

True

Operadores Relacionales (==,!=,<,<=,>,>=)

In [47]:
num = 12
if num < 4:
  print('mayor a 4')
if num == 12:
  print('igual a 12')
else:
  print('mayor a 4')

igual a 12

Operadores Logicos (and,or)

In [68]:
num = 33
if num % 3 == 0 and num > 50:
  print ('Num es multiplo de 3 y mayor a 50')
elif num % 3 == 1 or num % 11 == 0  :
  print ('Num es multiplo de 3')

Num es multiplo de 3

Interativos (for,while)

In [80]:
for i in lista:
  print(i)

for i in dic:
  print(dic[i])
  if type(dic[i]) == tuple:
    for j in dic[i]:
      print(j)

#while True:
 # print (True)

1
2.34
[10, 11, 12, [1, 'dato', 3]]
True
(1, 2, 3)
1
2
3
('Tuxtla Gutierrez', 'Oaxaca', 'Merida')
Tuxtla Gutierrez
Oaxaca
Merida
('Chiapas', 'Oaxaca', 'Yucatan')
Chiapas
Oaxaca
Yucatan
(1023233, 2232323, 1223233)
1023233
2232323
1223233
([13.4, -93.5], [15.4, -103.4], [15.6, -89])
[13.4, -93.5]
[15.4, -103.4]
[15.6, -89]

# **Introducción a Raster (GDAL, Rasterio, Pillow y Numpy)**